<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
      
      <div class="container">
       
       <div class="logo">
          <a class="navbar-brand" href="#">
            <%= fa_stacked_icon "camera inverse", base: "circle"%>
            Instagram
          </a>
        </div>
      
      
        <% if logged_in? %>
        <a href="<%= logout_path%>"> Log Out
          <i class="fa fa-sign-out"></i>
        </a>
        <% else %>
          <a href="<%= login_path%>"> Log In
            <i class="fa fa-sign-in"></i>
          </a>
        <% end %>

        <a href="<%= new_user_path%>"> Sign Up </a>

      </div>

      </div>
    </nav>
    <%= yield %>
  </body>
</html>
